

* {  
  display: block;
  font-family: 'Avenir', 'Arial', sans-serif;
  margin: 1.5em 0;
  padding: 0;
  text-decoration: none;
}

a,code {
/*   display: inline; */
  decoration: none;
  font-family: 'Roboto', monospace;
}

html {
   max-width: 120ch;
   padding: 10px;
   margin: auto;
   color: #333;
   font-size: 1.2em;
}

/* adapted from Qianqian, position absolute, or fixed?*/ 
/* add pop ups for some javascript acting on code perhaps? */

.tip {
	background: #ffe6f2;  /*     rgb(136, 18, 128, 0.5); */
	position: fixed; 
/* 	color: #404040; */
	font-weight: 100;
  font-size: 0.9em;
	padding: 10px;
  border-radius: 5px;
	font-family: 'Roboto', monospace;
	text-align: left;
  z-index: 2;
  left: 75vw;
  right: 2vw;
  opacity: 80;
  max-height: 95vh;
  overflow-x: hidden;
  overflow-y: hidden;
	
	-webkit-transition: all 500ms ease-in-out;
}

/* div.code {
  white-space: pre;
  color: green;
  height: 50vh;
} */

/* .tip:hover {
	opacity: 1;
  color: black;
} */

/* .p5z {
  z-index: 1;
  position: fixed;
  left: 0px;
  top: -55px;
} */







/* adapted from secretGeek/html_wysiwyg */

/* tags with attributes. */

/* a[href]::before {
   content: attr("<a href='" attr(href) "'>")
}

link[rel]::before {
   content: attr("<link rel='" attr(rel) "' type='" attr(type)"' href='" attr(href) "'>")
} */

/* special escaping for close style */
/* style::before {
   content: attr('<style>');
}
style::after {
   content: attr('\/style>');
} */


/* brutify */
/* *::before, *::after { */
/*   display: none; */
/* } */

/* *:hover::before, *:hover::after {
  display: inline;
  color:rgb(136, 18, 128, 0.5);
  font-weight:100;
  font-size:0.8em;
  font-family: 'Roboto', monospace;
} */

/* here is the highly repetitive bit */
/* p::before {
   content: attr('<p>')
}
p::after {
   content: attr('<p>')
}
html::before {
   content: attr('<html>')
}
html::after {
   content: attr('</html>')
}
head::before {
   content: attr('<head>')
}
head::after {
   content: attr('</head>')
}
title::before {
   content: attr('<title>')
}
title::after {
   content: attr('</title>')
}
link::before {
   content: attr('<link>')
}
link::after {
   content: attr('</link>')
}
body::before {
   content: attr('<body>')
}
body::after {
   content: attr('</body>')
}
h1::before {
   content: attr('<h1>')
}
h1::after {
   content: attr('</h1>')
}
h2::before {
   content:'<attr(h2>')
}
h2::after {
   content:'<attr(/h2>')
}
p::before {
   content:'<attr(p>')
}
p::after {
   content:'<attr(/p>')
}
pre::before {
   content:'<attr(pre>')
}
pre::after {
   content:'<attr(/pre>')
}
code::before {
   content:'<attr(code>')
}
code::after {
   content:'<attr(/code>')
}
a::before {
   content:'<attr(a>')
}
a::after {
   content:'<attr(/a>')
}
aside::before {
   content:'<attr(aside>')
}
aside::after {
   content:'<attr(/aside>')
}
blockquote::before {
   content:'<attr(blockquote>')
}
blockquote::after {
   content:'<attr(/blockquote>')
}
em::before {
   content:'<attr(em>')
}
em::after {
   content:'<attr(/em>')
}
strong::before {
   content:'<attr(strong>')
}
strong::after {
   content:'<attr(/strong>')
}
section::before {
   content:'<attr(section>')
}
section::after {
   content:'<attr(/section>')
} */